<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ListPersonServlet</servlet-name>
        <servlet-class>enterprise.web_jpa_war.servlet.ListPersonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePersonServlet</servlet-name>
        <servlet-class>enterprise.web_jpa_war.servlet.CreatePersonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListPersonServlet</servlet-name>
        <url-pattern>/ListPerson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePersonServlet</servlet-name>
        <url-pattern>/CreatePerson</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
	<welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
