<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>OmissionServlet</servlet-name>
        <servlet-class>enterprise.http_method_omission.OmissionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OmissionServlet</servlet-name>
        <url-pattern>/omissionservlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>OmissionConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>resource1</web-resource-name>
            <description/>
            <url-pattern>/omissionservlet</url-pattern>
            <http-method-omission>POST</http-method-omission>
        </web-resource-collection>
        <auth-constraint>
            <description/>
        </auth-constraint>
    </security-constraint>
      <security-constraint>
        <display-name>MethodConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>resource1</web-resource-name>
            <description/>
            <url-pattern>/omissionservlet</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
             <role-name>javaee6user</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name/>
        </login-config>
    <security-role>
        <description/>
        <role-name>javaee6user</role-name>
    </security-role>
</web-app>
